[package]
name = "simply-sats"
version = "0.1.0"
description = "A simple BSV wallet"
authors = ["Simply Sats"]
edition = "2021"

[lib]
name = "simply_sats_lib"
crate-type = ["lib", "cdylib", "staticlib"]

[build-dependencies]
tauri-build = { version = "2", features = [] }

[dependencies]
tauri = { version = "2", features = [] }
tauri-plugin-opener = "2"
serde = { version = "1", features = ["derive"] }
serde_json = "1"

[profile.release]
panic = "abort"
codegen-units = 1
lto = true
opt-level = "s"
strip = true
